/* DEFAULT */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* HEADER STYLE */
.main-header{
    width: 100%;
    height: 90px;
    background: #cccccc;

}
.header-content{
    margin-left: 180px;
    margin-right: 180px;
    height: 90px;
}
.header-content ul li{
    list-style: none;
    float:left;
    margin-top: 33px;
}
.header-content ul li a{
    text-decoration: none;
    padding: 30px; /* LINK'S HITBOX! */
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.link-icon a{
    float: right;
    margin-top: 32px;
    margin-right: 20px;
    color: #000000;
    font-size: 25px;
}

/* MAIN CONTENT STYLE */
.container{
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation{
    display: flex;
    flex-direction: row;
}
.presentation img{
    margin-top: 100px;
    margin-left: 123px;
    width: 252px;
    border-radius: 180px;
    border: 2px solid rgb(82, 82, 82);
}
.presentation-text{
    padding-left: 20px;
    margin-right: 20px;
    margin-top: 150px;
    font-size: 62px;
    position: relative;
    animation: presentation-text 2s;
}
@keyframes presentation-text {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}